# Week 1 handin

## 01 Assignment
Here is the text for the assignment linked to

## 02 Status
Here is a status on the handin. How far you got. What is implemented and what is not

## 03 Solution part 1

In [2]:
#1.A names starting with H
names = ["Helle", "Niels", "Hans", "Ole", "John", "Henning"]
new_names = [n for n in names if "H" in n[0]]
print(new_names)

['Helle', 'Hans', 'Henning']

In [4]:
# 1.B 0-100 to the power of 3
power_of3 = [[i**3 for i in range(101)]]
print(power_of3)

[[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]]

In [5]:
# 1.C list of tuples with namelength and name
names = ["Helle", "Niels", "Hans", "Ole", "John", "Henning"]
new_names = []
for n in names:
    tupl_name = (len(n), n)
    new_names.append(tupl_name)
print(new_names)

[(5, 'Helle'), (5, 'Niels'), (4, 'Hans'), (3, 'Ole'), (4, 'John'), (7, 'Henning')]

In [7]:
# 1.D get numerics only from String
word = "alpha1num2eric3"
for char in word:
    if char.isdigit():
        print(char)

1
2
3

In [ ]:
# 1.E all combinations 2 dice

## 04 Solution part 2

In [ ]:
# 2.1